.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(69, 67, 67);
}

.login-form {
  background-color:rgb(42, 38, 38);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px white;
  width: 400px;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 19px;
}

.login-button:hover {
  background-color: #ea17ea;
}

.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link a {
  color: #ea17ea;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

  