.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(69, 67, 67);
}

.register-form {
  background-color: rgb(42, 38, 38);
  padding: 30px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px white;
  width: 100%;
  max-width: 400px;
}

.register-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #ea17ea;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link a {
  color: #ea17ea;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

  