.productdetails-product-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
}

.productdetails-go-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #ff4081;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.productdetails-product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.productdetails-product-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.productdetails-product-info {
  flex: 1;
  background: #444;
  padding: 20px;
  border-radius: 10px;
}

.productdetails-product-info h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ff4081;
}

.productdetails-price {
  font-size: 2em;
  color: #ff4081;
  margin-bottom: 10px;
}

.productdetails-product-meta p {
  margin: 5px 0;
  font-size: 1.1em;
}

.productdetails-product-rating {
  font-size: 1.5em;
  color: gold;
  margin: 10px 0;
}

.productdetails-add-to-cart-button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1.1em;
}

.productdetails-reviews {
  margin-top: 20px;
}

.productdetails-write-review {
  background: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1.1em;
}

.productdetails-reviews a {
  color: #ff4081;
  text-decoration: underline;
}

.productdetails-reviews p {
  margin-top: 10px;
}

.productdetails-product-info p {
  margin: 10px 0;
}
hi
